.logo-style{

    background: -webkit-linear-gradient(rgb(13, 193, 253), rgba(3, 221, 28, 0.192));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .cate-image{
      border-radius: 10px;
      width: 100px;
      height: 80px;
  }
  .edit-image{
      border-radius: 10px;
      width: 350px;
      height:200px;
  }
  .anchor-style{
    text-decoration: none;
    color: black;
  }
  *{
    font-family: 'Roboto', sans-serif;
  }


.checkout-form label{
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 4px;
}
.checkout-form{
    font-size: 14px;
    padding: 5px;
    font-weight: 400;
}

/* spinner */
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: black;
}
  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }
  .loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
  }

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}
/* active btn */
.custom-active{

  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  border-radius: 5px;

}
.rating-css div {
  color: #ffe400;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;

}
.rating-css input{ 
  display: none;
}
.rating-css input + label{
  font-size: 30px;
  text-shadow: 1px 1px 0 #8f8420;
  cursor: pointer;
}
.rating-css input:checked +label ~ label {
  color: #b4afaf;
}
.rating-css label:active{
  transform: scale(0.8);
  transition: 0.3s ease;
}
.checked{
  color: #8f8420;
}
.search-style{
  width: 20%;
}
.whatsapp-chat{
  bottom: 10px;
  left: 10px;
  position: fixed;
}